
<div class="content-form">
    <h3>düsüncelerinizi paylasin!</h3>
    <form method="post">
        <input type="text" name="blogID" placeholder="ID" value="@ViewBag.deger" required />
        <input type="text" placeholder="Kulllanıcı Adı" name="kullaniciAdi" required />
        <input type="text" placeholder="E-mail" name="mail" required />
        <textarea name="icerik" placeholder="Düşüncelerin:"></textarea>
        <input type="submit" value="Gönder" />
    </form>
</div>
